body {
    background-color: aqua;
}

img{
    width: 200px; /*ancho de la imagen*/
    height: 200px; /*Alto de la imagen*/
}

img:hover{
    background-color: blue;
}

input{
    border-radius: 5px;
    border: 3px solid orange;
}
.tipoinputs {
    background-color: rgb(196, 250, 213);
}
#nombrepersona{
    height: 50px;
}
