*{
     margin: 0; /*distancia entre elementos */
    padding: 0; /* distanca interna */
}

body{
    font-family: 'Roboto', sans-serif;
}

.contenedor {
    width: 90%;
    max-width: 1500px;
    margin: auto;
}

nav {
    width: 100%;
    height: 80px;
    background-color: rgb(66, 68, 70);
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgb(0, 0, 0);
    position: fixed;
    top: 0;
    z-index: 100;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0 40px;
}

.nav .logo {
    height: 80px;
}

.nav .logo img {
    height: 100%;
}

.nav .enlaces_header a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 20px;
}

.contenido_header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido_header>img {
height: 100px;
width: 100px;
}